@import '../../styles/variables';
@import '../../styles/mixins';

.main {
  flex: 1;
  display: flex;
  height: 100%;
  padding-top: 0;
}

.menuOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 30;
  animation: fadeIn 0.3s ease-out;

  @include respond-to('md') {
    display: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
