@import '../../styles/variables';
@import '../../styles/mixins';

.main {
  flex: 1;
  display: flex;
  height: 100%;
  padding-top: 0;
  position: relative;
}

.sidebarContainer {
  @media (max-width: 767px) {
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 40;
    will-change: bottom;
  }

  @include respond-to('md') {
    position: relative;
    width: $sidebar-width;
    height: auto;
    z-index: auto;
    bottom: auto;
  }
}

.menuOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 35;
  will-change: opacity;

  @include respond-to('md') {
    display: none;
  }
}
