@import '../../styles/variables';
@import '../../styles/mixins';

.bgSvgContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $z-background;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bgSvg {
  width: auto;
  height: 100%;
  display: block;
  opacity: 0.1;
}
