@import '../../styles/variables';

.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $color-background-dark;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.spinner {
  width: 100px;
  height: 100px;
  margin-bottom: 1rem;
}

.text {
  font-family: $font-display;
  font-size: $text-xl;
  color: $color-primary;
  letter-spacing: $tracking-widest;
  text-transform: uppercase;
}
